@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #211E1A;
    color: #F3F4F6;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbar for dark mode */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #211E1A;
}

::-webkit-scrollbar-thumb {
  background: #48433B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B81313;
}
